.main__faq {
  background-color: var(--back-gray);
  padding: 9rem 0;
}
.faq {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}
.faq__text {
  width: calc(50% - 3rem);
}
.faq__heading-two {
  margin-bottom: 3rem;
}
.faq__text p {
  margin-bottom: 2rem;
}

.faq__questions {
  width: calc(50% - 3rem);
}
.faq__questions-box {
  box-shadow: 0.2rem 0 1.5rem 0.5rem rgb(1 6 33 / 6%);
  background-color: var(--white-color);
  border-radius: 1rem;
}
.faq__questions-box:not(.faq__questions-box:last-child) {
  margin-bottom: 1rem;
}

.faq__questions-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  width: 100%;
  border: none;
  text-align: start;
  margin: 0;
  padding: 0;
  padding: 1.4rem 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--white-color);
  color: var(--heading-color);
  font-weight: 600;
}
.faq__question--active {
  background-color: var(--main-color);
  color: var(--white-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.faq__questions-question i {
  font-size: 1.7rem;
}
.faq__questions-answer {
  display: none;
  padding: 1.4rem 2rem;
}
.faq__questions-answer--active {
  display: block !important;
}
@media (max-width: 1000px) {
  .faq__text,
  .faq__questions {
    width: 100%;
  }
}
